<!DOCTYPE html>
<html>
<head>
  <title>Shoutout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class='banner'>
    <ul>
      <li><a href="/users">users</a></li>
      <li><a href="/shouts">shouts</a></li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>
